[v-cloak] {
  display: none;
}

.router-link-active {
  color: var(--primary);
}

.slide-enter-active,
.slide-leave-active {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.slide-enter,
.slide-leave-active {
  opacity: 0;
  transform: translate3d(0, -1rem, 0);
}

.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.slide-up-enter,
.slide-up-leave-active {
  opacity: 0;
  transform: translate3d(0, 1rem, 0);
}

.slide-left-enter-active,
.slide-left-leave-active {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.slide-left-enter,
.slide-left-leave-active {
  opacity: 0;
  transform: translate3d(1rem, 0, 0);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
