.c-badge {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  color: white;
  font-size: dpr(32px);
  background-color: var(--disabled);
  border-radius: dpr(32px);
  padding: 0 dpr(16px);

  &.xlarge {
    font-size: dpr(40px);
  }

  &.large {
    font-size: dpr(36px);
  }

  &.small {
    font-size: dpr(28px);
  }

  &.xsmall {
    font-size: dpr(24px);
  }

  &.primary {
    background-color: var(--primary);
  }

  &.warning {
    background-color: var(--warning);
  }
}
