.c-modal {
  position: fixed;
  z-index: 101;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.c-modal-content {
  position: fixed;
  z-index: 1001;
  left: 50%;
  top: 50%;
  width: 72%;
  text-align: center;
  background-color: white;
  border-radius: dpr(16px);
  transform: translate3d(-50%, -50%, 0);
}

.c-modal-body {
  padding: dpr(48px) dpr(32px) dpr(32px);
  font-size: dpr(40px);

  & .title {
    font-size: dpr(34px);
    font-weight: bold;
    padding-bottom: dpr(24px);
  }

  & .content {
    font-size: dpr(28px);
  }

  &:empty {
    display: none;
  }
}

.c-modal-actions {
  padding: 0 !important;

  &:active {
    background-color: transparent !important;
  }

  &::after {
    content: none !important;
  }
}

.c-modal-action {
  border-radius: inherit;
  display: block;
  position: relative;

  &::after {
    content: ' ';
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    border-left: 1px solid var(--disabled);
    display: block;
    z-index: 15;
  }

  &:first-child {
    border-bottom-left-radius: dpr(16px);
  }

  &:last-child {
    border-bottom-right-radius: dpr(16px);

    &::after {
      content: none;
    }
  }
}

.c-modal-link {
  border-radius: inherit;
  display: block;
  line-height: 3;
}
