.c-password {
  display: block;
  position: relative;

  & input {
    outline: none;
    box-sizing: border-box;
    background-color: inherit;
    border: none;
    width: 100%;
    height: inherit;
    padding-right: dpr(40px);
  }
}

.c-password-toggle {
  color: var(--placeholder);
  cursor: pointer;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;

  &.active {
    color: color(var(--placeholder) lightness(-15%));
  }
}
